<div class="main-container">
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="side-container">
    <div>
      <div class="form">
        <%= form_tag brands_path, method: :get do %>
          <%= select_tag(:category, options_for_select(Brand::CATEGORIES, params[:category])) %>

          <%= select_tag(:tags, options_for_select(Brand::TAGS, params[:tags])) %>

          <%= text_field_tag(:city_name, params[:city_name], autocomplete: 'off', placeholder: 'Ville') %>

          <%= submit_tag "Rechercher" %>
        <% end %>
        <p><%= link_to "Réinitialiser les filtres", brands_path %></p>
      </div>
      <%= render 'list', brands: @brands %>
    </div>
  </div>
</div>
