<div class="grid-container">
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="brand__infos">
    <% @brands.map do |brand| %>
     <div class="brand_card">
        <%= image_tag brand.logo_url, width: 100, height: 100 %>
        <p><%= link_to brand.name, brand_path(brand) %></p>
        <p><%= brand.description.html_safe %></p>
        <p><%= brand.minimum_purchase_amount %></p>
        <p><%= brand.delivery_time_limit %></p>
        <p><%= brand.full_address %></p>
        <p><%= brand.tags %></p>
      </div>
    <% end %>
  </div>
</div>
